<p id="notice"><%= notice %></p>

<h4><%= @honor_society.name %></h4
<P><%= @honor_society.description %></P>
<!--
<p><%= @honor_society.mission %></p>
 
<P><%= @honor_society.orgsync %></P>
<p><%= @honor_society.gpa %></p>
<P><%= @honor_society.infourl %></P>
<P><%= @honor_society.applyurl %></P>
<P><%= @honor_society.major %></P>
-->
<%= link_to 'More info', @honor_society.infourl %>

<hr/>


<% if user_signed_in? %>
     <%= link_to 'Edit', edit_honor_society_path(@honor_society) %>
 <% end %>
 
 
  
 
<%= link_to 'Back', honor_societies_path %>
